/*
    Universal CSS
*/
.sunny, .cloudy, .rainy, .snowy {
    width: 92%;
    min-height: 15rem;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    object-fit: contain;
    border: 2px ridge black;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.408);
}

.sunny {
    background-image: url("../media/sunny-background.jpg");
}

.cloudy {
    background-image: url("../media/cloudy-background.jpg");
}

.rainy {
    background-image: url("../media/rainy-background.jpg");
}

.snowy {
    background-image: url("../media/snowy-background.jpeg");
    background-color: rgba(0, 0, 0, 0.525);
}

.time {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 6px;
    margin-bottom: 0;
}

.temp {
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 0;
}

.fall {
    font-weight: bold;
    margin: 6px 0.5rem 0 0.5rem;
    font-size: 1.25rem;
}

/*****
 750px
*****/
@media (min-width: 750px) {
    .sunny, .cloudy, .rainy, .snowy {
        background-color: rgba(0, 0, 0, 0.174);
    }
}

/*****
 850px
*****/
@media (min-width: 850px) {
    .sunny, .cloudy, .rainy, .snowy {
        min-height: 17rem;
    }
}

/*****
 950px
*****/
@media (min-width: 950px) {
    .sunny, .cloudy, .rainy, .snowy {
        min-height: 20rem;
    }
}

/******
 1300px
******/
@media (min-width: 1300px) {
    .sunny, .cloudy, .rainy, .snowy {
        min-height: 23rem;
        width: 90%;
    }
}