html {
  height: 100%;
  background-image: url("./media/background-photo-pixabay.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1022.cur), auto !important;
}

a {
  cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1022.cur), auto !important;
}

body {
  margin: 0;
  font-family:'Courier New', Courier, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

h2 {
  font-size: 1.65rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
